@font-face {
    font-family: 'Material Icons';
    src: url('../../../fonts/material-icons.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-size: 24px !important;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Material Icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-insert_link:before {
    content: "\e900";
}
.icon-text_format:before {
    content: "\e901";
}
.icon-info_outline:before {
    content: "\e902";
}
.icon-exit_to_app:before {
    content: "\e903";
}
.icon-note_add:before {
    content: "\e904";
}
.icon-content_copy:before {
    content: "\e905";
}
.icon-save:before {
    content: "\e906";
}