@import "../modules/_mixins";
@import "../modules/_variables";

.mdl-dialog {
    top: 0 !important;
    width: 40% !important;
    background: @ui-base0;

    padding: 12px;
    .border-radiuses(0, 0, 4px, 4px);

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.mdl-list__item {
    border-top: 1px solid #37474F;
    font-family: @font-family;
    font-size: 14px;
    font-weight: 300;
    padding: 8px;
    min-height: 32px;
    color: @ui-base3;

    &:hover {
        color: @ui-cyan;
    }
}

input {
    color: #000;
    background: @ui-base3;
    outline: none !important;
    width: 100%;
    font-family: @font-family;
    font-size: 14px;
    padding: 4px 10px 4px 10px;
    box-sizing: border-box;
    border: 0px;
    .border-radius(4px);
}

.child-container {
    margin-top: 10px;
    background: @ui-base01;
    overflow-y: scroll;
    max-height: 300px;
    .border-radius(4px);
}