@import "../modules/_variables";

#toolbar {
  display: flex;
  flex-direction: column;
  background: @ui-base02;
  border-right: 1px solid #000;
}

.toolbar-child {
    padding: 8px 0px 8px 0px;
    outline: none;
}

.mdl-iconbutton {
    color: @ui-base1;
    padding: 0px !important;
    min-width: 42px !important;

    &:disabled {
        color: @ui-base0 !important;
    }
}