@import "../modules/_variables";

#toolbar {
  display: flex;
  flex-direction: column;
  background: @ui-base00;
  border-right: 1px solid #000;
}

.toolbar-child {
    padding: 8px 0px 8px 0px;
    outline: none;
}

.mdl-iconbutton {
    .noselect;
    color: @ui-base2;
    padding: 0px !important;
    min-width: 42px !important;

    &:disabled {
        color: @ui-base1 !important;
    }

    &:hover {
        color: @ui-cyan !important;
        background-color: @ui-base00 !important;    /* override mdl :hover bg fade */
    }
}